body {
    font-family: Georgia, serif;
    background: #dfcaf2;
    margin: 0;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    color: #37083c;
}


.layout-wrapper {
    display: flex;
    width: 90%; 
    max-width: 1200px; 
}


.content-area {
    flex: 1; 
    padding-right: 20px; 
}


.sidebar-area {
    flex: 1; 
    padding: 20px;
   
}


.card {
    background: rgb(180, 165, 186);
    padding: 20px;
    width: 300px; 
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 15px 0;
}

h1 {
    font-size: 22px;
    margin-bottom: 10px;
}

ul {
    text-align: left;
    padding-left: 20px;
}
